@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* .list-sidebar::-webkit-scrollbar {
  width: 5px;
} */

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f66315;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f95e0b;
}
